
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 25 95% 53%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 5% 65%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 175 75% 45%;
    --radius: 0.5rem;

    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 25 85% 95%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 5.9% 90%;
    --sidebar-ring: 175 75% 45%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 0 0% 98%;
    --card: 195 20% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 195 25% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 25 95% 60%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 4% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 175 75% 45%;

    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 25 95% 60%;
    --sidebar-primary-foreground: 25 85% 95%;
    --sidebar-accent: 220 10% 20%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 175 75% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
